<div>
  <h2>See all posts!</h2>

  {{#each allPosts}}
    {{!-- <p>title: {{this.title}}</p>
    <p>description: {{this.description}}</p>
    <p>creator: {{this.creator.name}}</p>
    <p>creator Location: {{this.creator.location}}</p> --}}
    <a href="/posts/{{this._id}}/details">{{this.title}} by {{this.creator.name}}</a>

    <hr>
  {{/each}}

</div>